  .debug {
    border: 2px solid black;
    text-align: left;
    min-height: 150px;
    width: 520px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 40px 40px 40px 40px;
  }

  .debug_tomei {
    border: 0px solid red;
    text-align: center;
    min-height: 150px;
    width:520px;
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name {
    border: 2px solid black;
    border-radius: 40px 40px 40px 40px;
    text-align: left;
    width: 220px;
    margin: 30px;
    margin-left: 80px;
  }

  .kuhaku {
    border: 0px solid black;
    text-align: center;
    width: 50px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  .title {
    border: 2px solid black;
    border-radius: 40px 40px 40px 40px;
    text-align: left;
    width: 670px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 30px;
  }

  .center {
    border: 0px dashed rgb(0, 255, 255);
    text-align: center;
    min-height: 150px;
    width: 100px;
    height:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kuhaku_2 {
    border: 0px solid red;
    text-align: center;
    min-height: 50px;
    width: 520px;
    height:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

  .mgr-400{
    margin-left : 400px;
}

  .mgr-430{
    margin-left : 430px;
}

.mgr-100{
  margin-left : 100px;
}

.mgr-130{
  margin-left : 130px;
}